body {
  margin: 0;
  padding: 0;

}


header {
  background-image: url(images/oceanwaves.jpg);
  background-position: top;
  display: inline-block;
  width: 100%;
  background-blend-mode: multiply;
  position: relative;
}

nav li{
  display: inline-block;
}

.logo {
  font-size: 1em;
  position: absolute;
  top: 1px;
  left: 10px;
}
.about{
  font-size: 1em;
  position: absolute;
  top: 1px;
  right: 50px;
}



header h1 {
  font-size: 70px;
  text-align: center;

}

header h2 {
  text-align: center;
  font-size: 20px;

}

.container1{
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

.left {
  width: 65%;
  position:relative;
  float:left;
  padding-top: 70px;
}

.fantastic{
  font-size: 30px;
  font-weight: bold;
}

.anne{
  font-size: 10px;
}

.anne img{
  border-radius: 50%;
  text-align: center;
}

.right {
  width: 35%;
  position: relative;
  float: right;
  padding-top: 70px;
  text-align: center;
}

.person img{
  border-radius: 50%;
}


.social {
  font-size: 10px;
  display: block;
}

.social li {
  display: inline-block;
}

.surfgirl img{
  width: 200px;
}

.surfgirl p {
  font-size: 10px;
  padding-left: 30%;

}

.container3 {
  display: inline-block;
  width: 100%;
}

.cols {
  vertical-align: top;
  display: inline-block;
}

.col-1{
  width: 24%;
}

.container3 img{
  height: 200px;
  width: 200px;
}


footer{
  background-color: lightblue;
  min-height: 100px;
  font-size: 10px;
  position: relative;
}

.navitem{
  display: inline-block;
  position: absolute;
  right: 130px;
  bottom: 50px;
}

.copyright{
  display: inline-block;
  position: absolute;
  left: 130px;
  bottom: 40px;
}

@media (max-width: 500px) {
  header {
    background-image: url(images/oceanwaves.jpg);
    background-position: top;
    display: inline-block;
    width: 100%;
    background-blend-mode: multiply;
    position: relative;
    min-height: 350px;
  }

    header h1  {
      font-size: 3em;
      padding-top: 40%;
    }

    header h2 {
      font-size: 1em;
      padding-bottom: 20%;
    }

    footer {
      font-size: .6em;
    }

    .navitem {

    }
